@page
@model ContactModel
@{
    ViewData["Title"] = "Contact";
}
<h2>@ViewData["Title"]</h2>
<h3>@Model.Message</h3>

<address>
    Where I live<br />
    A Beautiful City<br />
    <abbr title="Phone">P:</abbr>
    Do Not Call Me
</address>

<address>
    <strong>Support:</strong> <a href="mailto:Support@spammersshouldbetickleduntiltheypeedaily.com">Support@spammersshouldbetickleduntiltheypeedaily.com</a><br />
    <strong>Marketing:</strong> <a href="mailto:Marketing@spammersshouldbetickleduntiltheypeedaily.com">Marketing@spammersshouldbetickleduntiltheypeedaily.com</a>
</address>
