@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="row">
    <div class="col-md-3"><img src="~/images/left-flourish.png" alt="Dice-1" height="95" width="285"></div>
    <div class="col-md-1"></div>
    <div class="col-md-5">   
    <h1>Welcome to Dice Game!</h1>
    </div>
    <div class="col-md-3"><img src="~/images/right-flourish.png" alt="Dice-1" height="95" width="285"></div>
</div>
<br>
<br>
<br>
<div class="row">

</div>

<div class="row">
    <div class="col-md-1">
        <img src="~/images/dice-1.png" alt="Dice-1" height="95" width="95"> 
    </div>
    <div class="col-md-1">
        <img src="~/images/dice-2.png" alt="Dice-2" height="95" width="95"> 
    </div>
    <div class="col-md-1">
        <img src="~/images/dice-3.png" alt="Dice-3" height="95" width="95"> 
    </div>
    <div class="col-md-1">
        <img src="~/images/dice-4.png" alt="Dice-4" height="95" width="95"> 
    </div>
    <div class="col-md-1">
        <img src="~/images/dice-5.png" alt="Dice-5" height="95" width="95"> 
    </div>
    <div class="col-md-1">
        <img src="~/images/dice-6.png" alt="Dice-6" height="95" width="95"> 
    </div>
    <div class="col-md-2"></div>
    <div class="col-md-4"><div class="row">
        <div class="col-md-4"><p>Current ScoreBoard</p></div>
        </div>
        <div class="row"><div class="col-md-4"><p>Player 1: 0</p></div></div>
        <div class="row"><div class="col-md-4"><p>Player 2: 0</p></div></div>
        <div class="row"><div class="col-md-4"><p>Player 3: 0</p></div></div>
        </div>
    </div>
    
</div>
<br>
<br>
<br>
<div class"row">
    <div class="col-md-4"><h3>Current Score: 0</h3></div>
    <div class="col-md-12"><h3>Substanitive Wry Commentary Here</h3></div>
</div>    

